.error_list {
    color: #ff0000;
}

#nav li.l2 a
{
	width:13em;
}

th
{
	padding: 10px;
}

.inputFormatHint {
        color: #D2D2D2
}

.prev
{
    background-image: url("../icons/calendar.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    display: block;
    float: left;
    height: 16px;
    margin-left: 6px;
    margin-top: 6px;
    width: 16px;
}

.next
{
    background-image: url("../icons/calendar.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    display: block;
    float: left;
    height: 16px;
    margin-left: 6px;
    margin-top: 6px;
    width: 16px;
}

td
{
	padding-left:5px;
	padding-top:5px;
}

div.formpage {
    width: 530px;
}

.outerbox 
{
    margin-left: 15px;
    margin-top: 10px;
    width: 98%;
}

.smack_forlabel
{
    padding-left: 20px;
    text-align: left;
    width: 120px;
}

.maincontent {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: #FAD163;
    border-style: solid;
    border-width: 0 2px;
    height: auto;
}

.mainHeading {
    background-color: #FAD163;
    border: 0 none;
    color: black;
    padding: 4px 0 7px 8px;
    text-align: left;
    width: auto;
}

.data-table tr:hover
{
	background-color:#DEDEDE;
}

.data-table tr
{
	height:30px;
}

.tab_td
{
	height:30px;
	padding-left:10px;
}

.tab_th
{
	padding-left:30px;
}

.outerMost {
    margin-left: 15px;
    margin-top: 15px;
    width: 400px;
}

